<nav class="navbar navbar-light bg-light">
  <%= link_to 'Wikinimous', articles_url, { class: "navbar-brand"} %>
  <p class = "navbar-info">Add a new article</p>
  <%= link_to 'New Article', new_article_url, { class: "nav-link"} %>
</nav>

<div class='container form-container'>
  <%= render 'form', article: @article %>
</div>

<%= link_to articles_url(@article) do %>
  <i class="fas fa-undo" id="back-link">Back</i>
<% end %>
